.page
{

width:1510px;
height:1850px;
border-style:;

background-image:url("image/a5.jpg");
}
.home
{
width:1508px;
height:90px;
background-color:;
}
.header
{
width:1508px;
height:350px;
}
.allpart
{
width:1508px;
height:1350px;
}